.add-modal {
  width: 560px;
  height: 560px;
  border: 1px solid gray;
  background: white;
}

.add-modal-wrapper {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
}
